@model RepositoryCommitModel
@using Bonobo.Git.Server.Extensions
<div class="commit pure-g">
    <div class="pure-u-4-5">
        <h4>@Model.Date.ToString()</h4>
        <h2>@Html.ActionLink(Model.Message, "Commit", new { id = ViewBag.ID, commit = Model.ID }, new { title = Model.Message})</h2>
        <div class="notes">
            @foreach (var note in Model.Notes)
            {
                <p>
                    *@note.Namespace* @note.Message
                </p>
            }
        </div>
    </div>
    <div class="pure-u-1-5 metadata">
        <h4>@Model.Author</h4>
        <p>@Model.GetType().GetDisplayValue("ID"): @Html.ActionLink(Model.ID.Substring(0, 7), "Commit", new { id = ViewBag.ID, commit = Model.ID })</p>
        <p>@Model.GetType().GetDisplayValue("TreeID"): @Html.ActionLink(Model.TreeID.Substring(0, 7), "Tree", new { id = ViewBag.ID, encodedName = PathEncoder.Encode(Model.ID) })</p>
        @if (Model.Parents != null && Model.Parents.Count() > 0)
        {
            <p>
                @Model.GetType().GetDisplayValue("Parents"):
                @foreach (var parent in Model.Parents)
                {
                    @Html.ActionLink(parent.Substring(0, 7), "Commit", new { id = ViewBag.ID, commit = parent })<br />
                }
            </p>
        }
    </div>
</div>

