@model RepositoryCommitModel
@using Bonobo.Git.Server.Extensions
<h4 class="commitDate">@Model.Date.ToString(Resources.DateTimeFormat)</h4>
<div class="commit">      
<div class="window">
<div class="content clearfix">
    <div class="fl">
        <p>@Model.Message</p>
        <p><strong>@Model.Author</strong></p>
    </div>
    <div class="fr">
        <p><em>@Model.GetType().GetDisplayValue("ID"):</em> @Html.ActionLink(Model.ID, "Commit", new { id = ViewBag.ID, commit = Model.ID })</p>
        <p><em>@Model.GetType().GetDisplayValue("TreeID"):</em> @Html.ActionLink(Model.TreeID, "Tree", new { id = ViewBag.ID, encodedName = PathEncoder.Encode(Model.ID) })</p>
        @if (Model.Parents != null && Model.Parents.Count() > 0)
        {
            <p>
                <em>@Model.GetType().GetDisplayValue("Parents"):</em>
                @foreach (var parent in Model.Parents)
                {
                    @Html.ActionLink(parent, "Commit", new { id = ViewBag.ID, commit = parent })<br />
                }
            </p>
        }
    </div>
</div>
</div>
</div>

