@using Bonobo.Git.Server.Extensions
@model RepositoryTreeDetailModel
@{
    Layout = "~/Views/Repository/_RepositoryLayout.cshtml";
    ViewBag.Title = Resources.Repository_Tree_Title;
}
@if (Model != null)
{
    @Html.Partial("_BranchSwitcher")
    @Html.Partial("_AddressBar")

    <div class="blob">
        @{
            <div class="controls">
                <a href="@Url.Action("Raw", new { encodedName = PathEncoder.Encode(Model.TreeName), encodedPath = PathEncoder.Encode(Model.Path, allowSlash: true) })"><i class="fa fa-download"></i> @Resources.Repository_Tree_Download</a>
                <a href="@Url.Action("Raw", new { encodedName = PathEncoder.Encode(Model.TreeName), encodedPath = PathEncoder.Encode(Model.Path, allowSlash: true), display = true })"><i class="fa fa-file-text"></i> @Resources.Repository_Tree_RawDisplay</a>
            </div>
        }
        @if (Model.IsImage)
        {
            <img class="fileImage" alt="@Model.Name" src="@Url.Action("Raw", new { encodedName = PathEncoder.Encode(Model.TreeName), encodedPath = PathEncoder.Encode(Model.Path, allowSlash: true) })" />
        }
        else if (Model.IsText)
        {
            <pre><code>@Model.Text</code></pre>
        }
        else
        {
            <pre><code>@Resources.Repository_Tree_PreviewNotSupported</code></pre>
        }
    </div>
}

@section scripts 
{
    <script>hljs.initHighlightingOnLoad();</script>
}
