@using Bonobo.Git.Server.Extensions
@model RepositoryTreeModel
@{
    Layout = "~/Views/Repository/_RepositoryLayout.cshtml";
    ViewBag.Title = Resources.Repository_Tree_Title;
}
@if (Model != null)
{
    <div class="content">
        @Html.Partial("_BranchSwitcher")
        @Html.Partial("_AddressBar")
        @{
    var grid = new WebGrid(source: Model.Files, rowsPerPage: 100);
    @grid.GetHtml(
                    tableStyle: "pure-table",
                    columns: grid.Columns(
                        grid.Column("Name", header: typeof(RepositoryTreeDetailModel).GetDisplayValue("Name"), format: (item) => @Html.ActionLink((string)item.Name, item.IsTree ? "Tree" : "Blob", new { encodedName = PathEncoder.Encode(item.TreeName), encodedPath = PathEncoder.Encode(item.Path, allowSlash: true) }, new { @class = item.IsTree ? "directory" : item.IsImage ? "image" : "file" })),
                        grid.Column("CommitMessage", header: typeof(RepositoryTreeDetailModel).GetDisplayValue("CommitMessage")),
                        grid.Column("CommitDate", header: typeof(RepositoryTreeDetailModel).GetDisplayValue("CommitDate"), format: item => ((DateTime)item.CommitDate).ToString()),
                        grid.Column("Author", header: typeof(RepositoryTreeDetailModel).GetDisplayValue("Author"))
                    )
                )
        }


        <div class="pure-menu pure-menu-open pure-menu-horizontal repository-menu">
            <ul>
                <li><a href="@Url.Action("Download", new { encodedName = PathEncoder.Encode(Model.Branch), encodedPath = PathEncoder.Encode(Model.Path, allowSlash: true) })"><i class="fa fa-download"></i>@Resources.Repository_Tree_Zip</a></li>
            </ul>
        </div>
    </div>
}
