@model Bonobo.Git.Server.Models.TeamDetailModel
@{
    ViewBag.Title = Resources.Team_Edit_Title;
}
@if (Model == null)
{    
    @Html.Partial("~/Views/Shared/_ItemNotFound.cshtml") 
}
else
{
    <text>
    <h1>@Model.Name</h1>

    @if (ViewBag.UpdateSuccess != null && ViewBag.UpdateSuccess)
    {
        <div class="summary-success">
            <p>@Resources.Team_Edit_UpdateSuccess</p>
        </div>
    }

    @using (Html.BeginForm("Edit", "Team", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
    {
        @Html.ValidationSummary(false, Resources.Team_Edit_Failure)
        @Html.HiddenFor(m => m.Name)
        
        <fieldset>
            <div class="pure-control-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "textInput medium", autofocus = "" })
            </div> 
            <div class="pure-control-group checkboxlist">
                @Html.LabelFor(m => m.Members)
                @{
                    var users = (from u in ViewData["AvailableUsers"] as string[]
                                 orderby u
                                 select new SelectListItem() { Value = u, Text = u }).ToArray();
                }

                @Html.CheckboxListFor(m => m.Members, users, new { @class = "checkboxList medium" })
            </div>
            <div class="pure-controls">
                <a class="pure-button" href="@Url.Action("Index")"><i class="fa fa-long-arrow-left"></i> @Resources.Team_Edit_Back</a>
                <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-save"></i> @Resources.Team_Edit_Submit</button>
            </div>
        </fieldset>
    }
    </text>
}
