@using Bonobo.Git.Server.Extensions
@model Bonobo.Git.Server.Models.GlobalSettingsModel
@{
    ViewBag.Title = Resources.Settings_Index_Title;
}

<h1>@Resources.Settings_Index_Title</h1>

@if (TempData["UpdateSuccess"] != null && (bool)TempData["UpdateSuccess"])
{
    <div class="summary-success">
        <p>@Resources.Settings_Index_UpdateSuccess</p>
    </div>
}

@using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
{
    @Html.ValidationSummary(false, Resources.Settings_Index_Failed)
    
    <fieldset>

        <div class="pure-control-group">
            @Html.LabelFor(m => m.RepositoryPath)
            @Html.TextBoxFor(m => m.RepositoryPath, new { @class = "medium", autofocus = "" })<em>*</em>
            <i class="fa fa-info-circle" title="@Resources.Settings_Global_DirectoryHint"></i>
        </div>
        <div class="pure-control-group">
            @Html.LabelFor(m => m.DefaultLanguage)
            <select id="DefaultLanguage" name="DefaultLanguage">
                <option @((Model.DefaultLanguage == "cs-CZ") ? "Selected" : "") value="cs-CZ">cs-CZ</option>
                <option @((Model.DefaultLanguage == "ja-JP") ? "Selected" : "") value="ja-JP">ja-JP</option>
                <option @((Model.DefaultLanguage == "zh-CN") ? "Selected" : "") value="zh-CN">zh-CN</option>
                <option @((Model.DefaultLanguage == "en") ? "Selected" : "") value="en">en</option>
                <option @((Model.DefaultLanguage == "en-AU") ? "Selected" : "") value="en-AU">en-AU</option>
                <option @((Model.DefaultLanguage == "en-CA") ? "Selected" : "") value="en-CA">en-CA</option>
                <option @((Model.DefaultLanguage == "en-GB") ? "Selected" : "") value="en-GB">en-GB</option>
                <option @((Model.DefaultLanguage == "en-US") ? "Selected" : "") value="en-US">en-US</option>
                <option @((Model.DefaultLanguage == "tr-TR") ? "Selected" : "") value="tr-TR">tr-TR</option>
                <option @((Model.DefaultLanguage == "es-ES") ? "Selected" : "") value="es-ES">es-ES</option>
                <option @((Model.DefaultLanguage == "sv-SE") ? "Selected" : "") value="sv-SE">sv-SE</option>
                <option @((Model.DefaultLanguage == "ru-RU") ? "Selected" : "") value="ru-RU">ru-RU</option>
                <option @((Model.DefaultLanguage == "de-DE") ? "Selected" : "") value="de-DE">de-DE</option>
                <option @((Model.DefaultLanguage == "fr-FR") ? "Selected" : "") value="fr-FR">fr-FR</option>
            </select>
            <i class="fa fa-info-circle" title="@Resources.Settings_Global_DefaultLanguage_Hint"></i>
        </div>
        <div class="pure-controls">
            <label for="AllowAnonymousRegistration" class="pure-checkbox">@Html.CheckBoxFor(m => m.AllowAnonymousRegistration) @Model.GetType().GetDisplayValue("AllowAnonymousRegistration") <i class="fa fa-info-circle" title="@Resources.Settings_Global_AllowAnonymousRegistration_Hint"></i></label>  
            <label for="AllowUserRepositoryCreation" class="pure-checkbox">@Html.CheckBoxFor(m => m.AllowUserRepositoryCreation) @Model.GetType().GetDisplayValue("AllowUserRepositoryCreation") <i class="fa fa-info-circle" title="@Resources.Settings_Global_AllowUserRepositoryCreation_Hint"></i></label>            
            <label for="AllowAnonymousPush" class="pure-checkbox">@Html.CheckBoxFor(m => m.AllowAnonymousPush) @Model.GetType().GetDisplayValue("AllowAnonymousPush")</label>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-save"></i> @Resources.Settings_Index_Save</button>
        </div>
    </fieldset>
}
