@model Bonobo.Git.Server.Models.UserCreateModel
@{
    ViewBag.Title = Resources.Account_Create_Title;
}

<h1>@Resources.Account_Create_Title</h1>

@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
{    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, Resources.Account_Create_Unsuccessfull)
    
    <fieldset> 
        <div class="pure-control-group">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { autofocus = "" })<em>*</em>
            @Html.ValidationMessageFor(m => m.Username)
        </div> 
        <div class="pure-control-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)<em>*</em>
            @Html.ValidationMessageFor(m => m.Name)
        </div> 
        <div class="pure-control-group">
            @Html.LabelFor(m => m.Surname)
            @Html.TextBoxFor(m => m.Surname)<em>*</em>
            @Html.ValidationMessageFor(m => m.Surname)
        </div> 
        <div class="pure-control-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "medium" })<em>*</em>
            @Html.ValidationMessageFor(m => m.Email)
        </div> 
        <div class="pure-control-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)<em>*</em>
            @Html.ValidationMessageFor(m => m.Password)
        </div> 
        <div class="pure-control-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)<em>*</em>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div> 

        <div class="pure-controls">
            <a class="pure-button" href="@Url.Action("Index")"><i class="fa fa-long-arrow-left"></i> @Resources.Account_Detail_Back</a>
            <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-save"></i> @Resources.Account_Create_Submit</button>
        </div>
    </fieldset>
}
