@model Bonobo.Git.Server.Models.UserCreateModel
@{
    ViewBag.Title = Resources.Account_Create_Title;
}
<h2>@Resources.Account_Create_Title</h2>
@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "uniForm" }))
{    
    @Html.ValidationSummary(false, Resources.Account_Create_Unsuccessfull, new { @id = "errorMsg" })
    <fieldset> 
      <h3>@Resources.Account_Create_AccountInformation</h3>    
      <div class="ctrlHolder"> 
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "textInput small" })<em>*</em>
        <p class="formHint">
          @Html.ValidationMessageFor(m => m.Username)
        </p> 
      </div> 
      <div class="ctrlHolder"> 
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "textInput small" })<em>*</em>
        <p class="formHint">
          @Html.ValidationMessageFor(m => m.Name)
        </p> 
      </div> 
      <div class="ctrlHolder"> 
        @Html.LabelFor(m => m.Surname)
        @Html.TextBoxFor(m => m.Surname, new { @class = "textInput small" })<em>*</em>
        <p class="formHint">
          @Html.ValidationMessageFor(m => m.Surname)
        </p> 
      </div> 
      <div class="ctrlHolder"> 
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "textInput medium" })<em>*</em>
        <p class="formHint">
          @Html.ValidationMessageFor(m => m.Email)
        </p> 
      </div> 
      <div class="ctrlHolder"> 
          @Html.LabelFor(m => m.Password)
          @Html.PasswordFor(m => m.Password, new { @class = "textInput small" })<em>*</em>     
        <p class="formHint">
          @Html.ValidationMessageFor(m => m.Password)
        </p> 
      </div> 
      <div class="ctrlHolder"> 
          @Html.LabelFor(m => m.ConfirmPassword)
          @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textInput small" })<em>*</em>     
        <p class="formHint">
          @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </p> 
      </div> 
      <div class="buttonHolder"> 
        <button type="reset" class="secondaryAction">← @Resources.Reset</button> 
        <input type="submit" value="@Resources.Account_Create_Submit" class="primaryAction" />
      </div>
    </fieldset>
}
