<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico?v=2" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body class="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()">
    <div class="main">
        <div class="header">
            <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal">
                @Html.ActionLink(Resources.Layout_Title, "", "", null, new { @class = "pure-menu-heading" })

                <ul>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Index", "Repository")" class="repository"><i class="fa fa-hdd-o"></i> @Resources.Layout_Repositories</a></li>
                    }
                    @if (User.IsInRole(Definitions.Roles.Administrator))
                    {
                        <li><a href="@Url.Action("Index", "Account")" class="users"><i class="fa fa-user"></i> @Resources.Layout_AdministrationUsers</a></li>
                        <li><a href="@Url.Action("Index", "Team")" class="teams"><i class="fa fa-group"></i> @Resources.Layout_AdministrationTeams</a></li>
                        <li><a href="@Url.Action("Index", "Settings")" class="settings"><i class="fa fa-gears"></i> @Resources.Layout_AdministrationGlobalSettings</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="content" id="@ViewContext.ViewData["PageID"]">
            @RenderBody()
        </div>

        <div class="footer">
            <p>&copy; 2014 <a href="http://www.chodounsky.net">Jakub Chodounský</a> &middot; @Html.ActionLink(Resources.Layout_About, "About", "Home")</p>
        </div>
    </div>

    @*<div id="header">
            <div id="topMenu">
                <div id="accountInfo">
                    @if (Request.IsAuthenticated)
                    {
                        if (!WindowsActionFilterAttribute.IsWindowsModeActive)
                        {
                            <p><strong>@Context.User.Identity.Name</strong> [ @Html.ActionLink(Resources.Layout_AccountSettings, "Edit", "Account", new { id = UsernameUrl.Encode(User.Identity.Name.ToLowerInvariant()) }, null) | @Html.ActionLink(Resources.Layout_LogOff, "LogOff", "Home") ]</p>
                        }
                        else
                        {
                            <p><strong>@Context.User.Identity.Name</strong> [ @Html.ActionLink(Resources.Layout_AccountSettings, "Edit", "Account", new { id = UsernameUrl.Encode(User.Identity.Name.ToLowerInvariant()) }, null) ]</p>
                        }
                    }
                    else
                    {
                        if (UserConfiguration.Current.AllowAnonymousRegistration)
                        {
                            <p>[ @Html.ActionLink(Resources.Layout_LogOn, "LogOn", "Home") | @Html.ActionLink(Resources.Layout_Register, "Create", "Account")]</p>
                        }
                        else
                        {
                            <p>[ @Html.ActionLink(Resources.Layout_LogOn, "LogOn", "Home") ]</p>
                        }
                    }
                </div>
            </div>
        </div>*@

    @Scripts.Render(
        "~/bundles/jquery",
        "~/bundles/jqueryval")
</body>
</html>
